html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif !important;
 background-color: #fdfdfc;
  height: 100%;
}

* {
  box-sizing: border-box;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; 
}
